/* stili specifici per il layout */

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
.sidebar {
    width: 60px;
    background-color: #051E34;
    background-image: url("../images/sidebar-bg.png");
    background-size: cover;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-hover:hover {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
}
.ms_main-container {
    flex-grow: 1; /* va ad occupare tutto lo spazio disponibile */
    display: flex;
    flex-direction: row;
}
.ms_header {
    flex-shrink: 0; /* per evitare che l'header venga schiacciato dal main */
    padding: 10px 0;
    background-color: #F8F9FA;
}
.ms_main-content {
    flex-grow: 1; /* va ad occupare tutto lo spazio disponibile */
}
.text-small {
    font-size: small;
}
.text-table {
    font-size: 14px;
}
.avatar-img {
    width: 20px;
}
.ms_tb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 25%;
}
#student {
    padding-top: 4.2px;
}
.btn-hover:hover {
    color: #0D6EFD;
}
.ms_bg-pills {
    color: #fff;
    background-color: #165BBA;
}
#plus-pill {
    width: 23px;
    height: 23px;
}
.ms_nav-logo {
    width: 35px;
}
/* classi momentanee */
.ms_height {
    min-height: 200px;
}
.ms_height-2 {
    min-height: 100px;
}

/* media queries aggiuntive */
@media screen and (min-width: 768px) {
    .sidebar {
        width: 150px;
    }
    .sidebar .nav-link i {
        margin-right: 0.5rem;
    }
    #chart {
        margin-left: -7px;
    }
    #signal {
        margin-left: 4px;
    }
    #home {
        margin-left: -1.5px;
    }
    .ms_table-col-lg {
        width: 50%;
    }
}