/* stili specifici per il layout */

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
main {
    border: 1px dashed black;
}
aside {
    width: 150px;
    border: 1px dashed orangered;
}
.ms_main-container {
    flex-grow: 1; /* va ad occupare tutto lo spazio disponibile */
    display: flex;
    flex-direction: row;
}
.ms_header {
    flex-shrink: 0; /* per evitare che l'header venga schiacciato dal main */
}
.ms_main-content {
    flex-grow: 1; /* va ad occupare tutto lo spazio disponibile */
    border: 1px dashed blue;
}
.ms_content-up {
    border: 1px dashed green;
    height: 100px;
}
.ms_content-container {
    border: 1px solid red;
}